doctype html
html
  include _includes/head.pug
  body
    include _includes/topnav.pug
    #main
      
      section
        #chartcircle
      
    include _includes/footer.pug
    script(src='https://d3js.org/d3.v5.min.js')
    script
      include ../js/d3js.js
      
  
