@import "_var";
@import "../../node_modules/jeet/jeet";
@import "w3s-image";
@import "layout";
@import "_id";
@import "_tag";

// @include debug(red);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
}

figure {
  margin-top: 1em;
  margin-bottom: 1em;

  img {
    vertical-align: middle;
    width: 100%;
    height: auto;
  }

  figcaption {
    color: $green;
    text-align: center;
    font-style: italic;
    font-size: smaller;
  }
}

.subtitle {
  font-weight: lighter;
  color: $base0;
  font-style: italic;
  margin-bottom: .618em;

}

.strong {
  color: $blue;
  font-weight: bold;
  text-transform: lowercase;
}

.omslag {
  background-color: $base2;
  border-radius: 2em 1em 4em / 0.5em 3em;
  padding: 1.618em;
  color: $base03;
}

a {

  &:hover {
    color: $base03;
  }
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  // background-image: linear-gradient(to right, #ccc, #333, #ccc);
  background-image: linear-gradient(to right, $ikeablue, $ikeayellow);
  margin-top: 0.618em;
  margin-bottom: 0.618em;
}

section {
  @include center();
  padding: 23px;
  border: 1em solid rgba(0,0,0,0);

  h1, h2, h3 {
    margin-top: .382em;
    margin-bottom: .618em;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;

    .strong {
      color: $blue;
      font-weight: bold;
      text-transform: lowercase;
    }
  }

  article {
    @include column(2/3);
    margin-bottom: 2em;
    line-height: normal;
    font-size: 1.2em;
    color: $base03;



    h2 {
      // text-align: center;
      font-size: 1.618em;
      color: $blue;
      font-weight: bold;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    h3 {
      text-transform: capitalize;
    }

    a {
      color: $blue;
    }
  }

  aside {
    @include column(1/3);
    color: $base1;

    a {
      color: $blue;
    }
  }
}

.parallax-top {
    background-image: url('../img/cover-ett.jpg');
    position: relative;
  	// opacity: 0.65;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
    min-height: 100%;
}

.caption {
	position: absolute;
	left: 0;
	top: 38.2%;
	width: 100%;
	text-align: center;
	color: #000;

  span.border {
		background-color: rgba(0, 0, 0, 0.83);
		color: #fff;
		padding: 18px;
		font-family: sans-serif;
		font-weight: 100;
		font-size: 25px;
	}

  strong {
    color: $blue;
    font-weight: bold;
  }
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  // height: 142px;
  padding: 2em;
  background-color: $base03;
  color: white;
  text-align: center;
  border-radius: 2em 1em 4em / 0.5em 3em;
}
