.topnav {
  overflow: hidden;
  background-color: $base03;
  border-radius: 2em 1em 4em / 0.5em 3em;
  a {
    float: left;
    color: $base3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 2px 2px 2px #000;
    &:hover {
      background-color: $ikeablue;
      color: $ikeayellow;
    }
    &.active {
      background-color: $blue;
      color: $ikeayellow;
    }
    &.right {
      float: right;
      color: $ikeayellow;
      &:hover {
        color: $ikeayellow;
      }
    }
  }
}

.inlaggstopnav {
  overflow: hidden;
  background-color: $ikeayellow;
  border-radius: 2em 1em 4em / 0.5em 3em;
  a {
    float: left;
    color: $base03;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    &:hover {
      background-color: $ikeablue;
      color: $ikeayellow;
    }
    &.active {
      background-color: $blue;
      color: $base3;
    }
    &.right {
      float: right;
      color: $cyan;
      &:hover {
        color: $ikeayellow;
      }
    }
  }
}

.center {
  padding: 16px;
  text-align: center;
}

.content {
  padding: 16px;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  &:hover, &:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}

.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
  text-shadow:2px 2px 4px #000000;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
